<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <title>Apskaita</title>
</head>

<div class="top-navigation">
    <form method="get" action="/zmones">
        <button type="submit">Visi žmonės</button>
    </form>
    <form method="get" action="/zmogus">
        <button type="submit">Naujas žmogus</button>
    </form>
    {{#if zmogus}}
    <a class="button" href="/adresas?zmogusId={{zmogus.id}}">Naujas adresas</a>
    <a class="button" href="/kontaktas?zmogusId={{zmogus.id}}">Naujas kontaktas</a>
    {{/if}}
</div>

<body>
  {{{body}}}
</body>

</html>